[Unit]
Description=Surface Dial Daemon
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/surface-dial-daemon
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
